@page "/test-design"
<h3>test design page</h3>
<div class="container">
    <div class="row">
        <div class="col"> 
        <h3> this is a test</h3
            <p> this page is design using bootstrap</p>
        </div>
        <div class="col" style="border : double" >
            <h1> hello again</h1>
        </div>
    </div>
    <div class="row">
        <div class="col"> 
        <h3> this is a test</h3
            <p> this page is design using bootstrap</p>
        </div>
        <div class="col" style="border : double" >
            <h1> hello again</h1>
        </div>
    </div>

</div>
@code {

}
