@page "/ez"

<div class="container">
    <div class="row">
        <div class="col">
            <Card Style="width:18rem;">
                <CardBody>
                    <CardTitle>Card title</CardTitle>
                    <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                    <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
                </CardBody>
            </Card>

        </div>
        <div class="col">
            <Card Style="width:18rem;">
                <CardBody>
                    <CardTitle>Card title</CardTitle>
                    <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                    <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
                </CardBody>
            </Card>

        </div>
        <div class="col">
            <Card Style="width:18rem;">
                <CardBody>
                    <CardTitle>Card title</CardTitle>
                    <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText>
                    <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
                </CardBody>
            </Card>

        </div>
    </div>
</div>
<Carousel>
    <CarouselItem Active="true">
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-01.png" />
    </CarouselItem>
    <CarouselItem>
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-02.png" />
    </CarouselItem>
    <CarouselItem>
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-03.png" />
    </CarouselItem>
</Carousel>


@code {

}
